<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatibile" content="IE=edge">
    <meta name="author" content="Nuley Stanley Nephi">
    <link rel="stylesheet" href="/css/styles.css">
    <title><%-title %> | CSE 340 App</title>
</head>