<h1>
    Welcome to CSE Motors
</h1>

<section class="upgrades_reviews">
    <section class="upgrades">
        <h1>Delorean Upgrades</h1>
        <div class="upgradeimages">
            <ul>
                <li><img src="#" alt="Flux Capacitor">
                    Flux Capacitor
                </li>
                <li><img src="#" alt="Flame Decal">
                    Flame Decal
                </li>
                <li><img src="#" alt="Bumper Stickers">
                    Bumper Stickers
                </li>
                <li><img src="#" alt="Hub Caps">
                    Hub Caps
                </li>
            </ul>
        </div>
    </section>

    <section class="reviews">
        <h1>Delorean Reviews</h1>
        <div class="review_comments">
            <ul>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam atque molestias, similique porro ut
                    ab itaque. Illo, quia voluptas. Recusandae officia vitae neque quis accusantium facilis cum, enim
                    velit. Voluptatum.</li>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus ipsam quod, adipisci, harum
                    voluptatibus eligendi velit debitis omnis reprehenderit sed vero earum eos deleniti? Corporis fuga
                    amet voluptatem temporibus culpa.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. In aliquid omnis earum quos illum
                    consectetur asperiores repellendus quibusdam, quidem eligendi animi magnam dolore aperiam labore
                    similique! Odit doloremque nemo corporis?</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium iusto magnam nobis vel
                    architecto dolorem vitae ipsum cum sit in veniam saepe perspiciatis, tempora eligendi quibusdam
                    laborum debitis aliquam voluptatum.</li>
            </ul>
        </div>
    </section>
</section>